.logo1{
    width: 200px;
    background-color: #fff;
    height: 100px;
    margin-top: 20px;
    margin-bottom: 10px;
}
.p{
font-weight: 700;
font-size: 46px;
color: black;
}
.position{
  position: absolute;
  width: 400px;
  height: 130px;
}
.position1{
  position: absolute;
  bottom: 14px;
}
h1{
margin-top: 150px;
color: white;
text-shadow:2px 2px 5px black;
margin-left: 565px;
font-size: 50px; 
}
.one{
    margin-top: 10px;
    width: 550px;
    height: 450px;
    background-color: #fff;
    text-align: center;
    box-shadow:2px 2px 5px black;
}
img{
    width: 550px;
    height: 370px; 
}
.two{
    font-size: 20px;
    font-weight: 700;
    height: 25px;
    color: black;
}
.three{
    font-size: 18px;
    color: #cccccc;
    height: 30px;
}
.four{
    font-size: 16px;
    color: #ffa500;
    font-weight: 700;
}
.one:hover{
    transform: scale(1.1);
}
footer{
    margin-top: 960px;
}